.DS_Store
venv*
*.log
debug
dist
MANIFEST
__pycache__
workspace
*.sublime-project
*.sublime-workspace
.terraform
*.tfstate
terraform/*
test-terraform/*
!terraform/_modules/
terraform/_modules/groups/
.idea/
.vscode
.coverage
lifecycle
jenkins/_gen/
*.pyc

firebaseServiceAccount.json
.env